.sec-article{
    margin: 4rem 0;
    .container{
        @include flexcenter();
        flex-wrap: wrap;
        .row{
            width: 100%;
            align-items: center;
            justify-content: center;
        }
    }
}

.sec-article-content{
    margin: 4rem 0;
    .container{
        background: #000000ad;
        padding: 5rem;
        border-radius: 2rem;
        .row{
            margin: 0;
            .image{
                min-height: 30rem;
                background-position: top center;
            }
            .socail{
                font-size: 2.5rem;
                a{
                    color: $white;
                }
            }
        }
        .content{
            margin: 2rem 0;
        }
    }
}