<section class="sec-banner">
    <div class="swiper-container" id="h-banner">
        <div class="swiper-wrapper">
        {% for banner in options_h_banner_image %}
            <div class="swiper-slide" style="background-image: url('{{ TimberImage(banner).src }}');"></div>  
            {# <img class="swiper-slide" src="{{ TimberImage(banner).src }}"> #}
        {% endfor %}
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev banner-prev"></div>
        <div class="swiper-button-next banner-next"></div>
    </div>
</section>
<section class="sec-announcement">
    <div class="box-announcement">
        <div class="container">
            <div class="box-announcement__text"><i class="i-annoutment"></i><marquee>{{ options_h_announcement }}</marquee></div>
        </div>
    </div>
</section>